<!DOCTYPE html>

<html lang="en">
  <head>
    <title>WYA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />
    <style>
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6 {  margin: 0;  padding: 0;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}
    </style>
    <style>
      html {
        font-family: Arial;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.55;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap"
    />
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}" />
  </head>
  <body>
    <div>
      <link href="{{ url_for('static',filename='schedule.css') }}" rel="stylesheet" />
      <title>Schedule - WYA</title>
      <meta property="og:title" content="Schedule - WYA" />
      <div class="schedule-container">
        <div class="schedule-container1">
          <svg viewBox="0 0 877.7142857142857 1024" class="schedule-icon">
            <path
              d="M877.714 512c0 242.286-196.571 438.857-438.857 438.857s-438.857-196.571-438.857-438.857 196.571-438.857 438.857-438.857 438.857 196.571 438.857 438.857z"
            ></path>
          </svg>
          <a href="/profile" class="schedule-navlink">
            <svg viewBox="0 0 1024 1024" class="schedule-icon02">
              <path
                d="M512 820q68 0 143-40t113-98q-2-56-90-94t-166-38-166 37-90 95q38 58 113 98t143 40zM512 214q-52 0-90 38t-38 90 38 90 90 38 90-38 38-90-38-90-90-38zM512 86q176 0 301 125t125 301-125 301-301 125-301-125-125-301 125-301 301-125z"
              ></path>
            </svg>
          </a>
          <a href="/friends" class="schedule-navlink1">Friends</a>
          <a href="/schedule" class="schedule-navlink2">Schedule</a>
          <span class="schedule-text">
            <span class="schedule-text01">WYA</span>
            <span class="schedule-text02"></span>
            <span class="schedule-text03"></span>
          </span>
        </div>
        <span class="schedule-text04">Month, Year</span>
        <svg viewBox="0 0 1024 1024" class="schedule-icon04">
          <path d="M250 176l92-90 426 426-426 426-92-90 338-336z"></path></svg
        ><svg viewBox="0 0 1024 1024" class="schedule-icon06">
          <path d="M498 166l-346 346 346 346-76 76-422-422 422-422z"></path>
        </svg>
        <div class="schedule-container2">
          
        </div>
        <div class="schedule-container3">
          <input type="checkbox" checked="true" class="schedule-checkbox" />
          <input type="checkbox" checked="true" class="schedule-checkbox01" />
          <input type="checkbox" checked="true" class="schedule-checkbox02" />
          <input type="checkbox" checked="true" class="schedule-checkbox03" />
          <input type="checkbox" checked="true" class="schedule-checkbox04" />
          <input type="checkbox" checked="true" class="schedule-checkbox05" />
          <input type="checkbox" checked="true" class="schedule-checkbox06" />
          <input type="checkbox" checked="true" class="schedule-checkbox07" />
          <input type="checkbox" checked="true" class="schedule-checkbox08" />
          <svg viewBox="0 0 1024 1024" class="schedule-icon08">
            <path
              d="M597.333 512c0-23.552-9.6-44.928-25.003-60.331s-36.779-25.003-60.331-25.003-44.928 9.6-60.331 25.003-25.003 36.779-25.003 60.331 9.6 44.928 25.003 60.331 36.779 25.003 60.331 25.003 44.928-9.6 60.331-25.003 25.003-36.779 25.003-60.331zM597.333 213.333c0-23.552-9.6-44.928-25.003-60.331s-36.779-25.003-60.331-25.003-44.928 9.6-60.331 25.003-25.003 36.779-25.003 60.331 9.6 44.928 25.003 60.331 36.779 25.003 60.331 25.003 44.928-9.6 60.331-25.003 25.003-36.779 25.003-60.331zM597.333 810.667c0-23.552-9.6-44.928-25.003-60.331s-36.779-25.003-60.331-25.003-44.928 9.6-60.331 25.003-25.003 36.779-25.003 60.331 9.6 44.928 25.003 60.331 36.779 25.003 60.331 25.003 44.928-9.6 60.331-25.003 25.003-36.779 25.003-60.331z"
            ></path>
          </svg>
          <input
            type="text"
            placeholder="Search for Users"
            class="schedule-textinput input"
          />
          <span class="schedule-text05">Include Schedule(s):</span>
          <span class="schedule-text06">
            <span class="schedule-text07">You</span>
          </span>
          <span class="schedule-text08">
            <span class="schedule-text09">John Doe#0000</span>
          </span>
          <span class="schedule-text10">Show Available People Only</span>
          <span class="schedule-text11">Show Availability Overlaps Only</span>
          <span class="schedule-text12">
            <span class="schedule-text13">Jane Doe#0000</span>
          </span>
          <span class="schedule-text14">
            <span class="schedule-text15">John Doe#0001</span>
          </span>
          <span class="schedule-text16">Jason White#5831</span>
          <span class="schedule-text17">Miranda Smith#2312</span>
          <span class="schedule-text18">Matthew Peters#1003</span>
          <svg viewBox="0 0 1024 1024" class="schedule-icon10">
            <path
              d="M768 682.667h-512c-70.571 0-128-57.429-128-128s57.429-128 128-128h512c70.571 0 128 57.429 128 128s-57.429 128-128 128zM256 512c-23.509 0-42.667 19.157-42.667 42.667s19.157 42.667 42.667 42.667h512c23.509 0 42.667-19.157 42.667-42.667s-19.157-42.667-42.667-42.667h-512z"
            ></path>
          </svg>
        </div>
        <input type="checkbox" checked="true" class="schedule-checkbox09" />
        <span class="schedule-text19">
          <span class="schedule-text20">A</span>
          <br />
          <span>D</span>
          <br />
          <span>D</span>
        </span>
        <span class="schedule-text25">
          <span class="schedule-text26">R</span>
          <br />
          <span>E</span>
          <br />
          <span>M</span>
          <br />
          <span>O</span>
          <br />
          <span>V</span>
          <br />
          <span>E</span>
        </span>
        <label class="schedule-text37">
          <span></span>
          <br />
          <span></span>
        </label>
        <input
          type="text"
          placeholder="Event/Course Name"
          class="schedule-textinput01 input"
        />
        <input
          type="text"
          placeholder="ex. c38172392; lec2; tut1; lab3"
          class="schedule-textinput02 input"
        />
        <input
          type="text"
          placeholder="Event ID"
          class="schedule-textinput03 input"
        />
        <input
          type="text"
          placeholder="MM/DD/YYYY"
          class="schedule-textinput04 input"
        />
        <input
          type="text"
          placeholder="MM/DD/YYYY"
          class="schedule-textinput05 input"
        />
        <input
          type="text"
          placeholder="ex. 8:00am"
          class="schedule-textinput06 input"
        />
        <input
          type="text"
          placeholder="Interval"
          class="schedule-textinput07 input"
        />
        <input
          type="text"
          placeholder="Su,M,T,W,Th,F,Sa"
          class="schedule-textinput08 input"
        />
        <input
          type="text"
          placeholder="ex. 8:50am"
          class="schedule-textinput09 input"
        />
        <button class="schedule-button button">Import</button>
        <button class="schedule-button1 button">Remove Event</button>
        <button class="schedule-button2 button">Add Event</button>
        <button class="schedule-button3 button">Weeks ▼</button>
        <span class="schedule-text41">View by:</span>
        <span class="schedule-text42">Event/Course Name</span>
        <span class="schedule-text43">Course Code</span>
        <span class="schedule-text44">Repeats Every</span>
        <span class="schedule-text45">On</span>
        <span class="schedule-text46">Until</span>
        <span class="schedule-text47">Event ID to be Removed</span>
        <span class="schedule-text48">Date</span>
        <span class="schedule-text49">End Date</span>
        <span class="schedule-text50">Start Time</span>
        <span class="schedule-text51">End Time</span>
        <span class="schedule-text52">
          <span class="schedule-text53">Year Month</span>
          <span class="schedule-text54">Week</span>
          <span class="schedule-text55"></span>
          <span class="schedule-text56">D</span>
          <span class="schedule-text57">ay</span>
        </span>
        <span class="schedule-text58">Filter</span>
      </div>
    </div>
  </body>
</html>
