.login-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(127, 200, 255, 0.67);
}
.login-container1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.login-icon {
  fill: #ffffff;
  width: 211px;
  height: 253px;
  margin-top: 50px;
}
.login-text {
  top: 99px;
  color: #f50967;
  margin: auto;
  position: absolute;
  font-size: 100px;
  font-style: normal;
  font-family: Comic Sans MS;
  font-weight: 900;
}
.login-navlink {
  top: 613px;
  color: #f50967;
  position: absolute;
  font-style: normal;
  font-family: Overpass;
  font-weight: 400;
  text-decoration: none;
}
.login-button {
  top: 553px;
  color: #f5098a;
  margin: auto;
  position: absolute;
  font-size: 20px;
  font-style: normal;
  font-family: Comic Sans MS;
  font-weight: 700;
}
.login-text1 {
  color: #f50967;
  font-style: normal;
  font-family: Overpass;
  font-weight: 400;
}
.login-textinput {
  top: 453px;
  width: 1090px;
  margin: auto;
  position: absolute;
}
.login-textinput1 {
  top: 353px;
  width: 1090px;
  margin: auto;
  position: absolute;
}
.login-text4 {
  top: 303px;
  left: 300px;
  color: #f50967;
  position: absolute;
  font-size: 2em;
  font-style: normal;
  font-family: Overpass;
  font-weight: 400;
}
.login-text6 {
  top: 403px;
  left: 300px;
  color: #f50967;
  position: absolute;
  font-size: 2em;
  font-style: normal;
  font-family: Overpass;
  font-weight: 400;
}
